{% extends "blog/base.html" %} {% block content %}
<h1>Welcome to the Your-Blog !</h1>
<div>
    <h5>We are here providing a platform where you can increase your knowledge by using various functionalities :</h5>
    {% comment %} We are here Providing a platform where you can boost your knowledge with using 
    various functionality :- {% endcomment %}

    <h6>1. You can read posts on various topics.</h6>
    <h6>2. If you want to share your knowledge then you are on right platform. You can also add your own post.</h6>
    {% comment %} 1. You can read post on various topic. {% endcomment %}
    {% comment %} 2. If you want to share your knowledge then you are on right platform. 
    You can add your post also. {% endcomment %}

    Contact us if you have any questions:
    Mob- 8000543233, E-mail- kishanraneja29@gmai.com
</div>
{% endblock content %}
